* {
  margin: 0px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 80px;
  min-height: 175px;
  background: rgb(219, 201, 255);
  background: linear-gradient(
    151deg,
    rgba(219, 201, 255, 1) 34%,
    rgba(201, 228, 255, 1) 43%,
    rgba(96, 10, 213, 1) 100%
  );
}
h1 {
  font-size: 40px;
}

input {
  height: 35px;
  font-size: 20px;
  width: 350px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

input::placeholder {
  font-size: 20px;
  padding-left: 5px;
}

.fiterSection {
  margin: 3% 5%;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.searchButtons {
  background-color: black;
  color: white;
  border: none;
  height: 40px;
  font-size: 20px;
  text-align: center;
  padding: 0px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.peopleSection {
  margin: 0% 5%;
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  text-align: center;
  /* height: 100px; */
}

.peopleDiv {
  width: 525px;
  border-radius: 5px;
  height: 300px;
  background-color: #bbd7e9;
}

.images {
  margin-top: 10px;
  border-radius: 35px;
  width: 75px;
}
.names,
.description {
  padding-top: 10px;
  padding-bottom: 20px;
  gap: 20px;
  font-size: 20px;
}
.description {
  text-align: start;
  padding-left: 10px;
}

.knowMoreBtn {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.knowMoreBtn:hover,
.searchButtons:hover {
  border: 0.1px solid black;
  background-color: white;
  color: black;
}
